{% extends 'chat/base.html' %}

{% block content %}
    <div id="intro-wrapper" class="wrapper style1">
        <div class="title">The Introduction</div>
        <section id="intro" class="container">
            <p class="style1">So in case you were wondering what this is all done for ...</p>
            <p class="style2">
                Make our talk essy and take FE labs for Taran<br class="mobile-hide"/>
                you can donate here <a href="donate.html" class="nobr donate">Give me some money</a>
            </p>
            <p class="style3">It's <strong>chat</strong>, built on <strong>Django framework</strong>,
                <strong>HTML5</strong> and
                <strong>CSS3</strong>, and released for
                free use it for any of your personal or commercial projects &ndash; just be sure to donate us!</p>
            <ul class="actions">
                <li><a href="#" class="button style3 big">Chat now</a></li>
            </ul>
        </section>
    </div>

    <!-- Main -->
    <div class="wrapper style2">
        <div class="title">The Details</div>
        <div id="main" class="container">

            <!-- Image -->
            <a href="#" class="image featured">
                <img src="images/pic01.jpg" alt=""/>
            </a>

            <!-- Features -->
            <section id="features">
                <header class="style1">
                    <h2>Advantages chat with us</h2>
                    <p>Some advantages that make u sure that it`s cool!</p>
                </header>
                <div class="feature-list">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-comment">Free public chat</h3>
                                <p>Chat is free now and will be free always. Make fun and take advantages
                                    with using our product.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-refresh">Live chat</h3>
                                <p>You can chat online and take information there and now.
                                    Not need to use mail or VK client ever. </p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-picture-o">Cool profile images</h3>
                                <p>You will be assigned an unique image to your profile page. Try random luck.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-cog">Settings</h3>
                                <p>You can fill in information about yourself in your profile. And also change
                                    parametres
                                    of your profile when its necessary.</p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-wrench">Support service</h3>
                                <p>If you had any questions or propositions you can contact our support service.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-check">Everything have done!</h3>
                                <p>You will be the best with Huck Space. Join us!</p>
                            </section>
                        </div>
                    </div>
                </div>
                <ul class="actions actions-centered">
                    <li><a href="#" class="button style1 big">Chat now!</a></li>
                    <li><a href="no-sidebar.html" class="button style2 big">About Us</a></li>
                </ul>
            </section>

        </div>
    </div>

{%  endblock content %}